.site-header {
  text-align: center;
  padding: 4rem 0 2rem;
}
.brand {
  letter-spacing: -0.05em;
  font-size: 4rem;
  line-height: 0.9;
  &-image {
    width: 15rem;
    height: auto;
    @include border-r(15rem);
  }
  &-title {
    display: block;
    font-size: 5.3rem;
    margin-top: 2rem;
    .comma {
      color: $brand;
      font-family: $noto;
    }
  }
  &-subtitle {
    display: block;
    font-size: 1.6rem;
    margin-top: 2rem;
    color: $darker-grey;
    .divider {
      margin: 0 1rem;
      font-size: 1.4rem;
      line-height: auto;
      color: $light-grey;
      font-weight: $light;
      font-family: $noto;
    }
  }
}
.logo {
  line-height: 1.5;
}
.site-navigation {
  text-align: center;
  font-size: 0;
  .menu {
    li{
      padding-left: 0;
      display: inline-block;
      a {
        font-size: 1.4rem;
        display: block;
        padding: 1.5rem;
      }
      &:before {
        display: none;
      }
    }
  }
}