.site-header {
  text-align: center;
  padding: 4rem 0 2rem;
}
.brand {
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-size: 4rem;
  line-height: 0.9;
  strong {
    font-size: 5.3rem;
  }
}
.logo {
  line-height: 1.5;
}